<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/bsf-agile-tracking</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="show_sql">true</property>
		<mapping resource="edu/lmu/bfs/ase2/model/Task.hbm.xml"></mapping>
		<mapping resource="edu/lmu/bfs/ase2/model/UserStory.hbm.xml"></mapping>
		<!-- 
		<mapping resource="edu/lmu/bfs/ase2/model/TaskProgress.hbm.xml"></mapping>	
		-->
		<mapping resource="edu/lmu/bfs/ase2/model/User.hbm.xml"></mapping>
		<mapping resource="edu/lmu/bfs/ase2/model/Project.hbm.xml"></mapping>
		<mapping resource="edu/lmu/bfs/ase2/model/Backlog.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>